body {
    background: #090909;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color:rgb(255, 243, 228);
    touch-action: manipulation;
}

h1, h2{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}

h1{
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 1.25px;
    font-size: 1.2em;
}

#main-div {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
}

#sidebar {
    margin-top: 40px;
    width:350px; 
}

.instruction {
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-stretch: narrower;
    text-align: center;
    line-height: 1.9em;
    width: 250px;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 20px ;
}

.high-scores-box {
    width: 250px;
    height: 280px;
    padding: 5px;
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #000;
    border-radius: 15px;
    font-size: 1.25em;
    line-height: 2.1em;
}

#high-scores-title {
    text-align: center;
    display: flex;
    justify-content: center;
    
}

#container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#container-canvas{
    margin-left: 40px;
}


canvas {
    width:300px;
    height:600px;
    position: absolute;
}

#grid-bg {
    border-radius: 15px;
    z-index: 1;
    opacity: 10%;
    mix-blend-mode: screen;
}

#grid {
    border-radius: 15px;
    z-index: 0;
    
}

#container-info{
    position: relative;
    left: 325px;
}

.sidebox{
    background: black;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    /* color: white; */
    font-size: 1.25em;
    text-align:center;
    vertical-align: middle;
    line-height: 20px; 
    padding-top: 5px;
    margin: 5%;
}

.buttons{
    width: 300px;
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button{
    width: 50px;
    height: 50px;
    font-size: 1.25em;
    font-family: 'Press Start 2P', cursive;
    color:rgb(255, 243, 228);
    background-color: #000;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.button:hover{
    color:black;
    background-color: rgb(223, 224, 224);
    transform: translateY(-5px);
}

#next-piece{
    height: 150px;
}

#container-next-piece{
    flex-basis: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    transform: scale(0.90);
}

.piece-square{
    background:rgb(255, 140, 0);
    width: 30px;
    height: 30px;
    margin: 0 0;
}

.blank-square{
    width: 30px;
    height: 30px;
    opacity: 0%;
}

.drop-shadow{
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.12), 
                0 4px 10px rgba(152, 152, 152, 0.12), 
                0 6px 15px rgba(179, 179, 179, 0.1), 
                0 8px 20px rgba(255, 255, 255, 0.1),
                0 12px 25px rgba(255, 255, 255, 0.1);
}

#message-log{
    position: absolute;
    font-size: 1.5em;
    color:rgb(210, 255, 227);
    margin: 20px;
    margin-top: 30px;
    width: fit-content;
}

#message{
    animation: up 2s ease-out;
}

#container-controller{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin: 20px;
    bottom: 0px;
    right: 0px;
}

#container-mobile-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#d-pad-row{
    display: flex;
    flex-direction: row;
}

.mobile-btn{
    background: rgb(213, 213, 213);
    width: 40px;
    height: 45px;
    margin: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#left-btn{
    transform: rotate(-90deg);
    margin-right: 30px;
}

#right-btn{
    transform: rotate(90deg);
    margin-left: 30px;
}

#down-btn{
    transform: rotate(180deg);
}

#ZX-row{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

#Z-btn{
    height: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(84, 84, 84);
    line-height: 40px;
}

#X-btn{
    height: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(84, 84, 84);
    line-height: 40px;
}



@keyframes up {
    0%{opacity: 1;}
    100%{transform: translateY(-20px); opacity: 0;}   
}

@media only screen and (max-width: 850px) {
    /* For mobile phones: */
    h1{
        text-align: center;
        font-size: 1.25em;
        margin: 12.5px;
        width: auto;
    }
    h2{
        text-align: center;
        font-size: 1em;
        margin: 12.5px;
        width: auto;
    }
    #sidebar{
        flex-direction: row;
        position: absolute;
        top: 150%;
        left: 30vw;
    }
    .sidebar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #main-div{
        position: relative;
        top: -10vh;
        left: -5vw;
        width: auto;
        -webkit-transform: scale(0.65);
        -moz-transform: scale(0.65);
        -o-transform: scale(0.65);
    }
    .buttons{
        width: 250px;
    }
    #container-controller{
        bottom: -250px;
        transform: scale(1.25);
    }
}

@media only screen and (min-width: 850px) {
    #container-controller{
        display: none;
    }
}