p {
    font-family: sans-serif;
    font-size: 15px;
}
#canvasesdiv {
    position:absolute;
    left:0px;
    top:0px;
}

#container {
    transform: scale(0.75);
}

#grid-bg {
    width:500px;
    height:1000px;
    border:0px solid #000;
    border-radius: 0px;
    position: absolute;
    z-index: 2;
    opacity: 15%;
}

#grid {
    width:500px;
    height:1000px;
    border:0px solid #000;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
}
